body
{
	font-family:Arial,Helvetica,sans-serif;
	background-color:#E8E8E8;
}

h1
{
	text-align:center;
}

div.container
{
	width:80%;
	height:750px;
	padding:10px;
	margin-left:10%;
	/* background should be apllied to the template directly, probably */
}

div.header
{
	margin-bottom:0px;
	text-align:center;
}

div.sidebar
{
	width:15%;
	height:80%;
	float:left;
	padding:2.5%;
	background-color:#F0F0F0;
}

div.content
{
	width:75%;
	height:80%;
	float:left;
	padding:2.5%;
	background-color:#F8F8F8;
}

div.footer
{
}

a:link
{
	color:#000000;
	text-decoration:none;
}

a.spacious
{
	font-size:20px;
}

div.spacious
{
	margin-bottom:10px;
}

a:visited
{
	color:#000000;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

a:active
{
	text-decoration:underline;
}

div.field
{
	height:90%
}

div.linkbar
{
	height:10%
}

