body
{
	font-family:Arial,Helvetica,sans-serif;
	background-color:#E8E8E8;
}

body.picture_viewing
{
	background-color:black;
}

h1
{
	text-align:center;
}

div.container
{
	width:80%;
	height:750px;
	padding:10px;
	margin-left:10%;
	/* background should be apllied to the template directly, probably */
}

div.header
{
	margin-bottom:0px;
	text-align:center;
}

div.sidebar
{
	width:15%;
	height:80%;
	float:left;
	padding:2.5%;
	background-color:#F0F0F0;
}

div.content
{
	width:75%;
	height:80%;
	float:left;
	padding:2.5%;
	background-color:#F8F8F8;
}

div.footer
{
}

a:link
{
	color:#000000;
	text-decoration:none;
}

a.spacious
{
	font-size:20px;
}

div.spacious
{
	margin-bottom:10px;
}

a:visited
{
	color:#000000;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

a:active
{
	text-decoration:underline;
}

div.field
{
	height:90%;
}

div.field_center
{
	height:90%;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

div.linkbar
{
	height:10%
	margin-left:auto;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

div.photo_background_large {
	background-color:black;
	height:700px;
	width:700px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

div.photo_background_small {
	background-color:black;
	height:150px;
	width:150px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

div.fade {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:1;
	background-color:black;
	opacity:0.5;
}

div.top {
	position:absolute;
	z-index:2;
	left:0px;
	top:0px;
	margin-left:50%;
	margin-top:5%;
}

img.top {
	margin-left:-50%;
}

